node_modules
playgrounds/*/pnpm-lock.yaml
examples
/packages/**/docs-*
/coverage
/built
/tmp
.awcache
.DS_Store
.env
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/examples/node_modules/
.mocks/

.idea/
test/services/

lib/
yarn-error.log

dist/

.history

docs

*.zip
